@import '../../../scss/colors';

.top-bar {
  position: fixed;
  left: 0;
  right: 0;
  background-color: $color-black;
  color: $color-gray;
  padding: 10px;
  max-height: 30px;
  font-family: 'SF UI Display Bold', sans-serif;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: left;
  z-index: 3;
}
