@import "colors";
.item-people-detail {
  margin-left: 80px;
  margin-right: 80px;

  .item-details-header {
    color: $color-black;
    font-family: "SF UI Display Bold", sans-serif;
    font-weight: 700;
    font-size: 17px;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 10px;
  }
  .item-detail-list {
    .item-detail-characteristics {
      display: flex;
      justify-content: space-between;
      font-family: "SF UI Display Bold", sans-serif;
      font-size: 16px;
      font-weight: 700;
      border-bottom: 1px solid $color-gray;
      padding-top: 15px;
      padding-bottom: 15px;
      .item-property {
        color: $color-light;
      }

      .item-value {
        color: $color-black;
        text-transform: capitalize;
      }
    }
  }
}
