@import "colors";
@import "scrollbar";
@import "utils";

.row {
  display: flex;
  margin-top: 45px;
  padding: 5px;
  height: 100vh;

  .column.left {
    width: 350px;
    border-right: 1px solid $color-gray;
    height: 100%;
    @extend .scrollbar;
    .container-list {
      height: 95%;
      overflow-y: auto;
      overflow-x: hidden;

      .inner-scroll {
        height: 105%;
      }
    }
  }

  .column.right {
    width: 75%;
    display: table-row;
  }
}

.not-results {
  text-align: center;
  .title {
    font-family: $font-family;
    font-weight: bold;
    font-size: 16px;
    color: $color-red;
  }
}
