@import "colors";
@import "utils";

.people-item {
  display: flex;
  padding: 14px;
  justify-content: space-between;
  border-bottom: 1px solid $color-gray;
  .person-name {
    color: $color-black;
    font-family: $font-family;
    font-weight: bold;
    font-size: 17px;
    margin-top: 4px;
  }

  .homeworld-name {
    color: $color-light;
    font-family: $font-family;
    font-size: 14px;
    margin-top: 5px;
  }
  .icon-right {
    width: 11px;
  }
}
