@import "../../../vars";

.row {
  display: flex;
  align-items: flex-start;

  .column {
    padding-top: 10px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .column.left {
    width: 20%;
    border-right: 1px solid $ravn-gray-color;
    height: 100vh;
  }

  .column.right {
    width: 80%;
  }
}
